.task-done {
  color: green;
  text-decoration: line-through;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.list-group-item .btn {
  margin-left: 10px;
}

.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.list-group-item .task-text {
  flex-grow: 1;
}

.input-group-prepend {
  margin-right: 10px;
}

.input-group-prepend input {
  width: calc(100% - 84px); 
}
